body {
	color: #000;
	background-color: #fafafa;
	font-family: monospace;
	max-width: 800px;
	margin: 0 auto;
	padding: 5px 15px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 500;
}

h2.desc {
	font-size: 1em;
}

dd {
	margin-bottom: 10px;
}

a.d,
a.h,
a.i {
	text-decoration: none;
}

#blob a {
	color: #777;
	text-decoration: none;
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

#blob {
    white-space: pre;
    padding: 0;
}

a.ln {
    text-align: right;
    user-select: none;
	color: #777;
	text-decoration: none;
    display: block;
}

a.ln::before {
    content: attr(data-line-number);
}

a.ln:hover {
	color: blue;
	text-decoration: none;
}

a.ln:target {
	background-color: #ccc;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

article.commit {
	border: 1px solid black;
	max-width: 550px;
	padding: 5px;
	margin: 10px auto;
}

article.commit:target {
	background-color: #fffbdd;
}

pre.msg {
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

article.commit span.shortstat {
	float: right;
	cursor: default;
}

article.commit address.author {
	font-style: normal;
}

article.commit a.email {
	color: #000;
	text-decoration: none;
}

article.commit a.email:hover {
	color: blue;
	text-decoration: none;
}

article.commit + hr {
	/* HRs are for users with no CSS */
	display: none;
}

a.commit-anchor {
	color: #777;
	text-decoration: none;
}

a.commit-anchor:hover {
	color: blue;
	text-decoration: none;
}

#branches td,
#tags td,
#logs td {
	vertical-align: top;
	white-space: nowrap;
}

#branches tr:hover td,
#tags tr:hover td,
#files tr:hover td {
	background-color: #eee;
}

#tags tr td:nth-child(3),
#branches tr td:nth-child(3) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: #777;
}

hr {
	border: 0;
	border-top: 1px solid #777;
	height: 1px;
}

pre {
	font-family: monospace;
}

pre a.h {
	color: #00a;
}

.A,
span.i,
pre a.i {
	color: #070;
}

.D,
span.d,
pre a.d {
	color: #e00;
}

pre a.h:hover,
pre a.i:hover,
pre a.d:hover {
	text-decoration: none;
}
